{
   "plugins": ["@loadable/babel-plugin", ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],[
      "styled-components",
      {
        "ssr": true,
        "minify": true,
        "displayName": false,
        "fileName": false

      }
    ]]
}