{
   "plugins": ["@loadable/babel-plugin", ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],[
      "styled-components",
      {
        "ssr": true,
        "minify": false,
        "displayName": false,
        "fileName": false,
        "pure": true,
        "transpileTemplateLiterals": false
      }
    ]]
}